$background : rgb(235, 228, 228);
$width : 1260px;
$margin : 20px;
$height : 25px;
$border : 1px solid lightgrey;
@mixin input{
  width: $width;
  border: 1px solid transparent;
  height: 25px;
}
input { 
  @include input;
}
div {
  margin: $margin;
}
.form-control {
  height: $height;
  border: $border;
}
@mixin form {
  background-color: $background;
}
.form-select {
  width: $width;
  height: 30px;
}
.form-control1 {
  height: 150px;
  border: $border;
}
form {
  @include form;
}
@mixin submit {
  background-color: rgba(43, 156, 9, 0.877);
  width: 100px;
  height: 30px;
  padding-top :4px;
  padding-bottom :4px;
  padding-left :7px;
  padding-right :7px;
  font-size: 10px;
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
}
.btn {
  @include submit;
}
select {
  border: $border;
}
#popUp{
  display: none;
  box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1%;
  position: fixed;
  top: 0;
  right: 15%;
  left: 15%;
  background-color: white;
  // animation:pop 8s;
  p{
    margin: 0 auto;
  }
}